<link rel="stylesheet" href="__PUBLIC__/static/css/cropper.min.css">
<link rel="stylesheet" href="__PUBLIC__/static/css/ImgCropping.css">
<script src="__PUBLIC__/static/js/jquery-1.8.0.min.js"></script>
<script src="__PUBLIC__/static/js/cropper.min.js"></script>
<script type="text/javascript">
    $(function() {

        //弹出框水平垂直居中
        (window.onresize = function () {
            var win_height = $(window).height();
            var win_width = $(window).width();
            if (win_width <= 768) {
                $(".tailoring-content").css({
                    "top": (win_height - $(".tailoring-content").outerHeight()) / 2,
                    "left": 0
                });
            } else {
                $(".tailoring-content").css({
                    "top": (win_height - $(".tailoring-content").outerHeight()) / 2,
                    "left": (win_width - $(".tailoring-content").outerWidth()) / 2
                });
            }
        })();

        //弹出图片裁剪框
        $("#replaceImg").on('click', function () {

            $(".tailoring-container").toggle();
        });

        //cropper图片裁剪
        $('#tailoringImg').cropper({
            aspectRatio: 1 / 1,//默认比例
            preview: '.previewImg',//预览视图
            guides: false,  //裁剪框的虚线(九宫格)
            autoCropArea: 0.5,  //0-1之间的数值，定义自动剪裁区域的大小，默认0.8
            movable: false, //是否允许移动图片
            dragCrop: true,  //是否允许移除当前的剪裁框，并通过拖动来新建一个剪裁框区域
            movable: true,  //是否允许移动剪裁框
            resizable: true,  //是否允许改变裁剪框的大小
            zoomable: false,  //是否允许缩放图片大小
            mouseWheelZoom: false,  //是否允许通过鼠标滚轮来缩放图片
            touchDragZoom: true,  //是否允许通过触摸移动来缩放图片
            rotatable: true,  //是否允许旋转图片
            crop: function (e) {
                // 输出结果数据裁剪图像。
            }
        });
        //旋转
        $(".cropper-rotate-btn").click(function () {
            $('#tailoringImg').cropper("rotate", 45);
        });
        //复位
        $(".cropper-reset-btn").click(function () {
            $('#tailoringImg').cropper("reset");
        });
        //换向
        var flagX = true;
        $(".cropper-scaleX-btn").click(function () {
            if (flagX) {
                $('#tailoringImg').cropper("scaleX", -1);
                flagX = false;
            } else {
                $('#tailoringImg').cropper("scaleX", 1);
                flagX = true;
            }
            flagX != flagX;
        });

        //裁剪后的处理
        $("#sureCut").click(function () {
            if ($("#tailoringImg").attr("src") == null) {
                return false;
            } else {
                var cas = $('#tailoringImg').cropper('getCroppedCanvas');//获取被裁剪后的canvas
                console.log(cas);
                var base64url = cas.toDataURL('image/png'); //转换为base64地址形式

                $("#finalImg").prop("src", base64url);//显示为图片的形式
                $("#recg_image").prop("value", base64url);
                //关闭裁剪框
                closeTailor();
            }
        });

        // 获取图片上的坐标
        $(".previewImg").on('click', function(e){

            var choose_type = $("#choose_position").val();

            var div_top_x = $(".previewImg").offset().left;
            var div_top_y = $(".previewImg").offset().top;
            console.log(div_top_x);
            console.log(div_top_y);
            var position_x = parseFloat(e.pageX - div_top_x).toFixed(2);
            var position_y = parseFloat(e.pageY - div_top_y).toFixed(2);
            console.log(choose_type);

            switch (parseInt(choose_type)) {
                case 1:
                    // 原点坐标
                    $("#origin_x").html(position_x);
                    $("#origin_y").html(position_y);
                    break;
                case 2:
                    // 最大值点坐标
                    $("#max_position_x").html(position_x);
                    $("#max_position_y").html(position_y);
                    break;
                case 3:
                    // 最小值点坐标
                    $("#min_position_x").html(position_x);
                    $("#min_position_y").html(position_y);
                    break;
                default:
                    break;
            }
        })
    })

    //图像上传
    function selectImg(file) {
        if (!file.files || !file.files[0]){
            return;
        }
        var reader = new FileReader();
        reader.onload = function (evt) {
            var replaceSrc = evt.target.result;
            //更换cropper的图片
            $('#tailoringImg').cropper('replace', replaceSrc,false);//默认false，适应高度，不失真
        }
        reader.readAsDataURL(file.files[0]);
    }

    //关闭裁剪框
    function closeTailor() {
        $(".tailoring-container").toggle();
    }
</script>
{include file="user/leftMenu" title="title"/}

<div class="rightContent">
    <div class="place">
        <span>位置：</span>
        <ul class="placeul">
            <li><a href="#">监控中心</a></li>
            <li><a href="#">监控统计</a></li>
            <li><a href="#">修改仪表信息</a></li>
        </ul>
    </div>

    <div class="rightinfo">
        <div>
            <div class="formtitle"><span>仪表信息</span></div>

            <form action="__PUBLIC__/monitorCenter/do_edit_meter/{$meter_info.id}" method="post">
            <ul class="forminfo">
                <li><label>仪表名称</label><input name="name" type="text" class="dfinput" value="{$meter_info.name}"/><i></i></li>
                <li><label>类型</label><input name="type" type="text" class="dfinput" value="{$meter_info.type}"/><i></i></li>

                <li><label>所在机房</label><input name="subway_monitor_room_id" type="text" class="dfinput" value="{$meter_info.subway_monitor_room_id}"/><i></i></li>
                <li><label>所属车站</label><input name="station_id" type="text" class="dfinput" value="{$meter_info.station_id}"/><i></i></li>

                <li><label>识别设定</label>
                    <input type="button" id="replaceImg" class="l-btn" value="更换图片" style="margin-left:10px;">
                    <div style="float:left; width: 100px;height: 100px;border: solid 1px #555;padding: 5px; margin-bottom:10px;">
                        <img id="finalImg" src="__PUBLIC__/{$meter_info.recg_image}" width="100%">
                    </div>
                    <input type="hidden" id="recg_image" name="recg_image" value="{$meter_info.recg_image}"  >
                </li>
                <li><label>最大标准值</label><input name="max_normal" type="text" class="dfinput" value="{$meter_info.max_normal}"/><i></i></li>
                <li><label>最小标准值</label><input name="min_normal" type="text" class="dfinput" value="{$meter_info.min_normal}"/><i></i></li>
                <li><label>描述</label><input name="description" type="text" class="dfinput" value="{$meter_info.description}"/><i></i></li>

                <li><label>&nbsp;</label><input name="" type="submit" class="btn" value="确认修改"/></li>
            </ul>
            </form>
        </div>

        <!--图片裁剪框 start-->
        <div style="display: none" class="tailoring-container">
            <div class="black-cloth" onclick="closeTailor(this)"></div>
            <div class="tailoring-content">
                <div class="tailoring-content-one">
                    <label title="上传图片" for="chooseImg" class="l-btn choose-btn">
                        <input type="file" accept="image/jpg,image/jpeg,image/png" name="file" id="chooseImg" class="hidden" onchange="selectImg(this)">
                        选择图片
                    </label>
                    <div class="close-tailoring"  onclick="closeTailor(this)">×</div>
                </div>
                <div class="tailoring-content-two">
                    <div class="tailoring-box-parcel">
                        <img id="tailoringImg">
                    </div>
                    <div class="preview-box-parcel">
                        <p>图片预览：</p>
                        <div class="square previewImg"></div>
                        <!--<div class="circular previewImg"></div>-->
                        <div style="font-size:14px; margin-top:10px;">
                            <p><select class="l-btn" name="choose_position" id="choose_position" value="">
                                <option value="1">选择原点坐标</option>
                                <option value="2">选择最大值点坐标</option>
                                <option value="3">选择最小值点坐标</option>
                            </select></p>
                            <div><label>原点坐标</label><br/>
                                <div><label>X:</label><label id="origin_x" ></label></div>
                                <div><label>Y:</label><label id="origin_y" ></label></div>
                            </div>
                            <div><label>最大值坐标</label><br/>
                                <div><label>X:</label><label id="max_position_x" ></label></div>
                                <div><label>Y:</label><label id="max_position_y" ></label></div>
                            </div>
                            <div><label>最小值坐标</label><br/>
                                <div><label>X:</label><label id="min_position_x" ></label></div>
                                <div><label>Y:</label><label id="min_position_y" ></label></div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="tailoring-content-three">
                    <button class="l-btn cropper-reset-btn">复位</button>
                    <button class="l-btn cropper-rotate-btn">旋转</button>
                    <!--<button class="l-btn cropper-scaleX-btn">换向</button>-->
                    <button class="l-btn sureCut" id="sureCut">确定</button>
                </div>
            </div>
        </div>
        <!--图片裁剪框 end-->
    </div>

    <script type="text/javascript">
        $('.tablelist tbody tr:odd').addClass('odd');
    </script>
</div>