
{include file="user/leftMenu" title="title"/}
<!--<div class="leftmenu" style="background: #96E1FF;">-->
    <!--<dd>-->
        <!--<div class="title">-->
            <!--<a href="../user/index" target="rightFrame" style="color:white"><span><img src="../static/images/home.png" /></span>首页</a>-->
        <!--</div>-->
    <!--</dd>-->
    <!--<dd>-->
        <!--<div class="title">-->
            <!--<span><img src="../static/images/computer.png" /></span>监控中心-->
        <!--</div>-->
        <!--<ul class="menuson">-->
            <!--<li ><cite></cite><a href="../monitorCenter/subway_map" id="subway_map" >上海地铁图</a><i></i></li>-->
            <!--<li class="active"><cite></cite><a href="../monitorCenter/statistics" id="data_show">监控统计</a><i></i></li>-->
            <!--<li style="display:none"><cite></cite><a href="station.html" id="tangqiao_show">监控统计</a><i></i></li>-->
        <!--</ul>-->
    <!--</dd>-->
    <!--<dd>-->
        <!--<div class="title">-->
            <!--<span><img src="../static/images/user_logo.png" /></span>用户管理-->
        <!--</div>-->
        <!--<ul class="menuson">-->
            <!--<li><cite></cite><a href="../user/user_list" >用户列表</a><i></i></li>-->
            <!--<li><cite></cite><a href="../user/role_list" >角色管理</a><i></i></li>-->
        <!--</ul>-->
    <!--</dd>-->
    <!--<dd><div class="title"><span><img src="../static/images/camera.png" /></span>设备管理</div>-->
        <!--<ul class="menuson">-->
            <!--<li ><cite></cite><a href="../deviceManage/subway_camera" >地铁监控分布图</a><i></i></li>-->
            <!--<li ><cite></cite><a href="../deviceManage/camera_list" >摄像头列表</a><i></i></li>-->
        <!--</ul>-->
    <!--</dd>-->
<!--</div>-->

<div class="rightContent" >
    <div class="place">
        <span>位置：</span>
        <ul class="placeul">
            <li><a href="#">监控中心</a></li>
            <li><a href="#">监控统计</a></li>
        </ul>
    </div>

    <div class="rightinfo">

        <!--<div class="tools">-->

            <!--&lt;!&ndash;<ul class="toolbar">&ndash;&gt;-->
                <!--&lt;!&ndash;<li class="click"><a href="__PUBLIC__/monitorCenter/add_meter"><span><img src="../static/images/t01.png" /></span>添加新仪表</a></li>&ndash;&gt;-->

            <!--&lt;!&ndash;</ul>&ndash;&gt;-->

            <!--&lt;!&ndash;<label style="text-align:left; font-weight:normal; width:100px; color: black; margin-top: 8px; margin-left:50px;" for="CacheServer">机房选择：</label>&ndash;&gt;-->
            <!--&lt;!&ndash;<select name="host" id="host" style="width:220px;height: 36px; border-radius:4px; color:black;">&ndash;&gt;-->
                <!--&lt;!&ndash;<option value="1" selected="selected" style="color:black">一号线</option>&ndash;&gt;-->
                <!--&lt;!&ndash;<option value="1" style="color:black">二号线</option>&ndash;&gt;-->

            <!--&lt;!&ndash;</select>&ndash;&gt;-->
            <!--&lt;!&ndash;<select name="host" id="host" style="width:220px;height: 36px; border-radius:4px; color:black;">&ndash;&gt;-->
                <!--&lt;!&ndash;<option value="1" selected="selected" style="color:black">塘桥站</option>&ndash;&gt;-->
                <!--&lt;!&ndash;<option value="1" style="color:black">南浦大桥</option>&ndash;&gt;-->

            <!--&lt;!&ndash;</select>&ndash;&gt;-->

        <!--</div>-->



        <table class="tablelist" style="text-align:center">
            <thead>
            <tr>
                <!--<th><input name="" type="checkbox" value="" checked="checked"/></th>-->
                <th>序号</th>
                <th>仪表名称</th>
                <th>类型</th>
                <th>所在机房</th>
                <th>所属车站</th>

                <th>当前值</th>
                <th>标准值</th>
                <th>状态</th>
                <!--<th>识别图像</th>-->
                <th>描述</th>
                <!--<th>操作</th>-->
            </tr>
            </thead>

            <tbody>
            {volist name="meter_list" id="item"}
            <tr>

                <td>{$item.id}</td>
                <td>{$item.name}</td>
                <td>{$item.type}</td>
                <td>{$item.subway_monitor_room_id}</td>
                <td>{$item.station_id}</td>
                <td>{$item.value}</td>
                <td>{$item.min_normal} - {$item.max_normal} </td>
                <td>{$item.status}</td>
                <td>{$item.description}</td>

            </tr>
            {/volist}

            </tbody>
        </table>


        <!--<div class="pagin">-->
            <!--<div class="message">共<i class="blue">1256</i>条记录，当前显示第&nbsp;<i class="blue">2&nbsp;</i>页</div>-->
            <!--<ul class="paginList">-->
                <!--<li class="paginItem"><a href="javascript:;"><span class="pagepre"></span></a></li>-->
                <!--<li class="paginItem"><a href="javascript:;">1</a></li>-->
                <!--<li class="paginItem current"><a href="javascript:;">2</a></li>-->
                <!--<li class="paginItem"><a href="javascript:;">3</a></li>-->
                <!--<li class="paginItem"><a href="javascript:;">4</a></li>-->
                <!--<li class="paginItem"><a href="javascript:;">5</a></li>-->
                <!--<li class="paginItem more"><a href="javascript:;">...</a></li>-->
                <!--<li class="paginItem"><a href="javascript:;">10</a></li>-->
                <!--<li class="paginItem"><a href="javascript:;"><span class="pagenxt"></span></a></li>-->
            <!--</ul>-->
        <!--</div>-->

        <div class="tip">
            <div class="tiptop"><span>提示信息</span><a></a></div>

            <div class="tipinfo">
                <span><img src="__PUBLIC__/static/images/ticon.png" /></span>
                <div class="tipright">
                    <p>是否确认对信息的修改 ？</p>
                    <cite>如果是请点击确定按钮 ，否则请点取消。</cite>
                </div>
            </div>

            <div class="tipbtn">
                <input name="" type="button"  class="sure" value="确定" />&nbsp;
                <input name="" type="button"  class="cancel" value="取消" />
            </div>

        </div>

    </div>

    <script type="text/javascript">
        $('.tablelist tbody tr:odd').addClass('odd');
    </script>
</div>