{include file="user/leftMenu" title="title"/}
<div class="rightContent" style="background: #edf6fa;min-width: 980px;">
    <div class="place">
        <span>位置：</span>
        <ul class="placeul">
            <li><a href="#">监控中心</a></li>
            <li><a href="#">上海地铁图</a></li>
        </ul>
    </div>

    <div class="tools" style="height:50px; margin-top:10px; margin-bottom:5px;">

        <label style="text-align:left; font-weight:normal; width:100px; color: black; margin-top: 8px; margin-left:50px;" for="CacheServer">线路名称</label>
        <select name="host" id="host" style="width:220px;height: 36px; border-radius:4px; color:black;">
            <option value="1" selected="selected" style="color:black">一号线</option>
            <option value="1" style="color:black">二号线</option>

        </select>
        <select name="host" id="host" style="width:220px;height: 36px; border-radius:4px; color:black;">
            <option value="1" selected="selected" style="color:black">塘桥站</option>
            <option value="1" style="color:black">南浦大桥</option>

        </select>

    </div>

    <div style="text-align:center">

        <a href="station"><img src="../static/images/shanghai_subway_map.jpg" style="width:90%;"></a>

    </div>
</div>