{include file="user/leftmenu" title="title" /}

<div class="rightContent" >
    <div class="place">
        <span>位置：</span>
        <ul class="placeul">
            <li><a href="#">地铁线路管理</a></li>
            <li><a href="subway_map.html">运营公司列表</a></li>

        </ul>
    </div>

    <div class="rightinfo">
        <div class="tools">

            <ul class="toolbar">
                <li class="click"><a href="__PUBLIC__/subwayManage/add_company"><span><img src="__PUBLIC__/static/images/t01.png" /></span>添加新公司</a></li>
            </ul>

        </div>

        <div style="text-align:center">

            <table class="tablelist" style="text-align:center; ">
                <thead>
                <tr>
                    <th>序号</th>
                    <th>公司名称</th>
                    <th width="60%">简介</th>
                    <th>操作</th>
                </tr>
                </thead>

                <tbody>
                {volist name="subway_company_list" id="item" }
                <tr style="border-bottom: solid 1px #b6cad2;">
                    <td>{$item.id}</td>
                    <td>{$item.name}</td>
                    <td>{$item.description}</td>
                    <td><a href="__PUBLIC__/subwayManage/edit_company/{$item.id}" class="tablelink">修改</a>     <a href="__PUBLIC__/subwayManage/delete_company/{$item.id}" class="tablelink"> 删除</a></td>
                </tr>
                {/volist}

                </tbody>
            </table>


            <!--<div class="pagin">-->
                <!--<div class="message">共<i class="blue">1256</i>条记录，当前显示第&nbsp;<i class="blue">2&nbsp;</i>页</div>-->
                <!--<ul class="paginList">-->
                    <!--<li class="paginItem"><a href="javascript:;"><span class="pagepre"></span></a></li>-->
                    <!--<li class="paginItem"><a href="javascript:;">1</a></li>-->
                    <!--<li class="paginItem current"><a href="javascript:;">2</a></li>-->
                    <!--<li class="paginItem"><a href="javascript:;">3</a></li>-->
                    <!--<li class="paginItem"><a href="javascript:;">4</a></li>-->
                    <!--<li class="paginItem"><a href="javascript:;">5</a></li>-->
                    <!--<li class="paginItem more"><a href="javascript:;">...</a></li>-->
                    <!--<li class="paginItem"><a href="javascript:;">10</a></li>-->
                    <!--<li class="paginItem"><a href="javascript:;"><span class="pagenxt"></span></a></li>-->
                <!--</ul>-->
            <!--</div>-->
        </div>
    </div>
</div>