{include file="user/leftmenu" title="title" /}

<div class="rightContent" >
    <div class="place">
        <span>位置：</span>
        <ul class="placeul">
            <li><a href="#">地铁线路管理</a></li>
            <li><a href="subway_map.html">车站列表</a></li>

        </ul>
    </div>

    <div class="rightinfo">
        <div class="tools">

            <ul class="toolbar">
                <li class="click"><a href="__PUBLIC__/subwayManage/add_station"><span><img src="__PUBLIC__/static/images/t01.png" /></span>添加新车站</a></li>
            </ul>

            <!---->
            <!--<label style="text-align:left; font-weight:normal; width:100px; color: black; margin-top: 8px; margin-left:50px;" for="CacheServer">线路选择：</label>-->
            <!--<select name="host" id="host" style="width:220px;height: 36px; border-radius:4px; color:black;">-->
                <!--<option value="1" selected="selected" style="color:black">一号线</option>-->
                <!--<option value="1" style="color:black">二号线</option>-->

            <!--</select>-->

        </div>

        <div style="text-align:center">

            <table class="tablelist" style="text-align:center">
                <thead>
                <tr>
                    <th>序号</th>
                    <th>车站名称</th>
                    <th>所属线路</th>
                    <th>纬度坐标</th>
                    <th>经度坐标</th>
                    <th>简介</th>
                    <th>操作</th>
                </tr>
                </thead>

                <tbody>
                {volist name="station_list" id="item" }
                <tr>
                    <td>{$item.id}</td>
                    <td>{$item.name}</td>
                    <td>{$item.subwayLine.name}</td>
                    <td>{$item.latitude}</td>
                    <td>{$item.longitude}</td>
                    <td>{$item.description}</td>
                    <td><a href="__PUBLIC__/subwayManage/edit_station/{$item.id}" class="tablelink">修改</a>     <a href="__PUBLIC__/subwayManage/delete_station/{$item.id}" class="tablelink"> 删除</a></td>
                </tr>
                {/volist}

                </tbody>
            </table>


            <div class="pagin">
                <div class="message">共<i class="blue">1256</i>条记录，当前显示第&nbsp;<i class="blue">2&nbsp;</i>页</div>
                <ul class="paginList">
                    <li class="paginItem"><a href="javascript:;"><span class="pagepre"></span></a></li>
                    <li class="paginItem"><a href="javascript:;">1</a></li>
                    <li class="paginItem current"><a href="javascript:;">2</a></li>
                    <li class="paginItem"><a href="javascript:;">3</a></li>
                    <li class="paginItem"><a href="javascript:;">4</a></li>
                    <li class="paginItem"><a href="javascript:;">5</a></li>
                    <li class="paginItem more"><a href="javascript:;">...</a></li>
                    <li class="paginItem"><a href="javascript:;">10</a></li>
                    <li class="paginItem"><a href="javascript:;"><span class="pagenxt"></span></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>