{include file="user/leftMenu" title="title"/}

<div class="rightContent" >
    <div class="place">
        <span>位置：</span>
        <ul class="placeul">
            <li><a href="#">设备管理</a></li>
            <li><a href="#">摄像头列表</a></li>
        </ul>
    </div>

    <div class="rightinfo">

        <div class="tools">

            <ul class="toolbar">
                <li class="click"><a href="../deviceManage/add_camera" ><span><img src="../static/images/t01.png" /></span>添加新摄像头</a></li>

            </ul>



            <!--<label style="text-align:left; font-weight:normal; width:100px; color: black; margin-top: 8px; margin-left:50px;" for="CacheServer">机房选择：</label>-->
            <!--<select name="host" id="host" style="width:220px;height: 36px; border-radius:4px; color:black;">-->
                <!--<option value="1" selected="selected" style="color:black">一号线</option>-->
                <!--<option value="1" style="color:black">二号线</option>-->

            <!--</select>-->
            <!--<select name="host" id="host" style="width:220px;height: 36px; border-radius:4px; color:black;">-->
                <!--<option value="1" selected="selected" style="color:black">塘桥站</option>-->
                <!--<option value="1" style="color:black">南浦大桥</option>-->

            <!--</select>-->

        </div>



        <table class="tablelist" style="text-align:center">
            <thead>
            <tr>
                <th><input name="" type="checkbox" value="" checked="checked"/></th>
                <th>摄像头名称</th>
                <th>编号</th>

                <th>所属车站</th>
                <th>所在线路</th>
                <th>IP</th>
                <th>描述</th>
                <th>操作</th>
            </tr>
            </thead>

            <tbody>
            {volist name="camera_list" id="item"}
            <tr>
                <td><input name="" type="checkbox" value="" />{$item.id}</td>
                <td>{$item.name}</td>
                <td>{$item.serial_number}</td>

                <td>{$item.station.name}</td>
                <td>{$item.station.subwayLine.name}</td>
                <td>{$item.ip}</td>
                <td>{$item.description}</td>
                <td><a href="__PUBLIC__/deviceManage/edit_camera/{$item.id}" class="tablelink">修改</a>     <a href="__PUBLIC__/deviceManage/delete_camera/{$item.id}" class="tablelink"> 删除</a></td>
            </tr>
            {/volist}

            </tbody>
        </table>


        <!--<div class="pagin">-->
            <!--<div class="message">共<i class="blue">1256</i>条记录，当前显示第&nbsp;<i class="blue">2&nbsp;</i>页</div>-->
            <!--<ul class="paginList">-->
                <!--<li class="paginItem"><a href="javascript:;"><span class="pagepre"></span></a></li>-->
                <!--<li class="paginItem"><a href="javascript:;">1</a></li>-->
                <!--<li class="paginItem current"><a href="javascript:;">2</a></li>-->
                <!--<li class="paginItem"><a href="javascript:;">3</a></li>-->
                <!--<li class="paginItem"><a href="javascript:;">4</a></li>-->
                <!--<li class="paginItem"><a href="javascript:;">5</a></li>-->
                <!--<li class="paginItem more"><a href="javascript:;">...</a></li>-->
                <!--<li class="paginItem"><a href="javascript:;">10</a></li>-->
                <!--<li class="paginItem"><a href="javascript:;"><span class="pagenxt"></span></a></li>-->
            <!--</ul>-->
        <!--</div>-->

        <div class="tip">
            <div class="tiptop"><span>提示信息</span><a></a></div>

            <div class="tipinfo">
                <span><img src="images/ticon.png" /></span>
                <div class="tipright">
                    <p>是否确认对信息的修改 ？</p>
                    <cite>如果是请点击确定按钮 ，否则请点取消。</cite>
                </div>
            </div>

            <div class="tipbtn">
                <input name="" type="button"  class="sure" value="确定" />&nbsp;
                <input name="" type="button"  class="cancel" value="取消" />
            </div>

        </div>

    </div>

    <script type="text/javascript">
        $('.tablelist tbody tr:odd').addClass('odd');
    </script>
</div>