<script type="text/javascript">

    $(function(){

        var loc = parent.location.href;
        var n1 = loc.length;//地址的总长度
        var n2 = loc.indexOf("=");//取得=号的位置
        var id = decodeURI(loc.substr(n2+1, n1-n2));//从=号后面的内容


        if(id == 'admin_subway')
        {
            document.getElementById("subway_map").click();
        }
        else if(id == 'admin_tangqiao')
        {
            document.getElementById("tangqiao_show").click();
        }

        //导航切换
        $(".menuson li").click(function(){
            $(".menuson li.active").removeClass("active")
            $(this).addClass("active");
        });

        $('.title').click(function(){
            var $ul = $(this).next('ul');
            $('dd').find('ul').slideUp();
            if($ul.is(':visible')){
                $(this).next('ul').slideUp();
            }else{
                $(this).next('ul').slideDown();
            }
        });
    })
</script>
<div class="leftmenu" style="background: #96E1FF;">
    <dd>
        <div class="title">
            <a href="../user/index" target="rightFrame" style="color:white"><span><img src="../static/images/home.png" /></span>首页</a>
        </div>
    </dd>
    <dd>
        <div class="title">
            <span><img src="../static/images/computer.png" /></span>监控中心
        </div>
        <ul class="menuson">
            <li ><cite></cite><a href="../monitorCenter/subway_map" id="subway_map" >上海地铁图</a><i></i></li>
            <li ><cite></cite><a href="../monitorCenter/statistics" id="data_show">监控统计</a><i></i></li>
            <li style="display:none"><cite></cite><a href="station.html" id="tangqiao_show">监控统计</a><i></i></li>
        </ul>
    </dd>
    <dd>
        <div class="title">
            <span><img src="../static/images/user_logo.png" /></span>用户管理
        </div>
        <ul class="menuson">
            <li><cite></cite><a href="../user/user_list" >用户列表</a><i></i></li>
            <li><cite></cite><a href="../user/role_list" >角色管理</a><i></i></li>
        </ul>
    </dd>
    <dd><div class="title"><span><img src="../static/images/camera.png" /></span>设备管理</div>
        <ul class="menuson">
            <li class="active"><cite></cite><a href="../deviceManage/subway_camera" >地铁监控分布图</a><i></i></li>
            <li><cite></cite><a href="../deviceManage/camera_list" >摄像头列表</a><i></i></li>
        </ul>
    </dd>
</div>

<div class="rightContent" >
    <div class="place">
        <span>位置：</span>
        <ul class="placeul">
            <li><a href="#">首页</a></li>
            <li><a href="#">工具箱</a></li>
        </ul>
    </div>

    <div class="formbody">

        <div class="formtitle"><span>环控室一</span></div>

        <div class="toolsli">
            <ul class="toollist">
                <li><a href="../deviceManage/camera_control" ><img src="../static/images/camera_pic.png" /></a><h2>摄像头一</h2><img src="../static/images/button_red.png" style="width:80px; height:40px;"></li>
                <li><a href="../deviceManage/camera_control"><img src="../static/images/camera_pic.png" /></a><h2>摄像头二</h2><img src="../static/images/button_red.png" style="width:80px; height:40px;"></li>
            </ul>
            <span class="tooladd"><img src="../static/images/add_1.png" title="添加摄像头" /></span>
        </div>



    </div>
</div>