{include file="user/leftMenu" title="title"/}

<div class="rightContent">
    <div class="place">
        <span>位置：</span>
        <ul class="placeul">
            <li><a href="#">设备管理</a></li>
            <li><a href="#">摄像头列表</a></li>
            <li><a href="#">添加新摄像头</a></li>
        </ul>
    </div>

    <div class="rightinfo">

        <div class="formtitle"><span>摄像头信息</span></div>

        <form action="__PUBLIC__/deviceManage/do_edit_camera/{$camera_info.id}" method="post">
        <ul class="forminfo">
            <li><label>摄像头名称</label><input name="name" type="text" class="dfinput" value="{$camera_info.name}"/><i></i></li>
            <li><label>编号</label><input name="serial_number" type="text" class="dfinput" value="{$camera_info.serial_number}"/><i></i></li>
            <li><label>所在机房</label><input name="subway_monitor_room_id" type="text" class="dfinput" value="{$camera_info.subway_monitor_room_id}"/><i></i></li>
            <li><label>所属车站</label><input name="station_id" type="text" class="dfinput" value="{$camera_info.station_id}"/><i></i></li>
            <li><label>IP</label><input name="ip" type="text" class="dfinput" value="{$camera_info.ip}"/><i></i></li>
            <li><label>简介</label><input name="description" type="text" class="dfinput" value="{$camera_info.description}"/><i></i></li>

            <li><label>&nbsp;</label><input name="" type="submit" class="btn" value="确认新增"/></li>
        </ul>
        </form>
    </div>

    <script type="text/javascript">
        $('.tablelist tbody tr:odd').addClass('odd');
    </script>
</div>