{include file="user/leftMenu" title="title"/}

<div class="rightContent" style="min-width: 980px;">
    <div class="place">
        <span>位置：</span>
        <ul class="placeul">
            <li><a href="#">设备管理</a></li>
            <li><a href="deviceManage/subway_camera">地铁监控分布图</a></li>
            <li><a href="station.html">塘桥站</a></li>
        </ul>
    </div>

    <!--<div class="tools" style="height:50px; margin-top:10px; margin-bottom:5px;">-->

        <!--<label style="text-align:left; font-weight:normal; width:100px; color: black; margin-top: 8px; margin-left:50px;" for="CacheServer">线路名称</label>-->
        <!--<select name="host" id="host" style="width:220px;height: 36px; border-radius:4px; color:black;">-->
            <!--<option value="1" selected="selected" style="color:black">一号线</option>-->
            <!--<option value="1" style="color:black">二号线</option>-->

        <!--</select>-->
        <!--<select name="host" id="host" style="width:220px;height: 36px; border-radius:4px; color:black;">-->
            <!--<option value="1" selected="selected" style="color:black">塘桥站</option>-->
            <!--<option value="1" style="color:black">南浦大桥</option>-->

        <!--</select>-->

    <!--</div>-->

    <div class="formbody">

        <div class="formtitle"><span>环控室一</span></div>

        <div class="toolsli">
            <ul class="toollist">
                {volist name="camera_list" id="item"}
                <li><a href="__PUBLIC__/deviceManage/edit_camera/{$item.id}" ><img src="__PUBLIC__/static/images/camera_pic.png" /></a><h2>{$item.name}</h2><a href="__PUBLIC__/deviceManage/edit_camera/{$item.id}" style="border:0px; background:#fff;"><img src="__PUBLIC__/static/images/button_red.png" style="width:80px; height:40px;"></a></li>
                {/volist}
                <!--<li><a href="../deviceManage/meter_set"><img src="../static/images/camera_pic.png" /></a><h2>摄像头二</h2><img src="../static/images/button_red.png" style="width:80px; height:40px;"></li>-->
            </ul>
            <span class="tooladd"><a href="__PUBLIC__/deviceManage/add_camera"><img src="../static/images/add_1.png" title="添加摄像头" /></a></span>
        </div>
    </div>
</div>