{include file="user/leftMenu" title="title"/}

<div class="rightContent">
    <div class="place">
        <span>位置：</span>
        <ul class="placeul">
            <li><a href="#">用户管理</a></li>
            <li><a href="#">增加新用户</a></li>
        </ul>
    </div>

    <div class="rightinfo">

        <div class="formtitle"><span>用户信息</span></div>

        <form action="__PUBLIC__/user/do_add_user" method="post">
        <ul class="forminfo">
            <li><label>用户名</label><input name="username" type="text" class="dfinput" /><i></i></li>
            <li><label>手机号</label><input name="mobile" type="text" class="dfinput" /><i></i></li>
            <li><label>Email</label><input name="email" type="text" class="dfinput" /><i></i></li>
            <li><label>用户角色</label>
                <select name="role_id" value="" class="dfinput">
                    <?php foreach($role_list as $item){ ?>
                    <option value="{$item.id}">{$item.role_name}</option>
                    <?php } ?>
                </select>
            </li>
            <li><label>密码</label><input name="password" type="password" class="dfinput" value="" /></li>

            <li><label>&nbsp;</label><input name="" type="submit" class="btn" value="确认新增"/></li>
        </ul>
        </form>
    </div>

    <script type="text/javascript">
        $('.tablelist tbody tr:odd').addClass('odd');
    </script>
</div>