{include file="user/leftMenu" title="title"/}

<div class="rightContent">
    <div class="place">
        <span>位置：</span>
        <ul class="placeul">
            <li><a href="#">用户管理</a></li>
            <li><a href="#">用户列表</a></li>
        </ul>
    </div>

    <div class="rightinfo">

        <div class="formtitle"><span>基本信息</span></div>
        <form action="__PUBLIC__/user/do_edit_user/{$user.id}" method="post">
        <ul class="forminfo">
            <li><label>用户名</label><input name="username" type="text" class="dfinput" value="{$user.username}"/><i></i></li>
            <li><label>手机号</label><input name="mobile" type="text" class="dfinput" value="{$user.mobile}"/><i></i></li>
            <li><label>Email</label><input name="email" type="text" class="dfinput" value="{$user.email}"/><i></i></li>
            <li><label>用户角色</label>
                <select name="role_id" value="{$user.role_id}" class="dfinput">
                    <?php foreach($role_list as $item){ ?>
                    <option value="{$item.id}" <?php if($item['id']==$user['role_id']) echo "selected"; ?> >{$item.role_name}</option>
                    <?php } ?>
                </select>
            </li>
            <li><label>密码</label><input name="password" type="password" class="dfinput" value="{$user.password}"/></li>

            <li><label>&nbsp;</label><input name="" type="submit" class="btn" value="确认修改"/></li>
        </ul>
        </form>
    </div>

    <script type="text/javascript">
        $('.tablelist tbody tr:odd').addClass('odd');
    </script>
</div>