{include file="user/leftMenu" title="title"/}
<div class="rightContent">
    <div class="place">
        <span>位置：</span>
        <ul class="placeul">
            <li><a href="#">用户管理</a></li>
            <li><a href="#">角色管理</a></li>
            <li><a href="#">增加新角色</a></li>
        </ul>
    </div>

    <div class="rightinfo">

        <div class="formtitle"><span>角色信息</span></div>
        <form action="__PUBLIC__/user/do_edit_role/{$role.id}" method="post">
            <ul class="forminfo">
                <li><label>角色名称</label><input name="role_name" type="text" class="dfinput" value="{$role.role_name}"/><i></i></li>
                <li><label>职责描述</label><input name="description" type="text" class="dfinput" value="{$role.description}"/><i></i></li>

                <li><label>&nbsp;</label><input name="" type="submit" class="btn" value="保存修改"/></li>
            </ul>
        </form>
    </div>

    <script type="text/javascript">
        $('.tablelist tbody tr:odd').addClass('odd');
    </script>
</div>