{include file="user/leftmenu" title="title" /}

<div class="rightContent">
    <div class="place">
        <span>位置：</span>
        <ul class="placeul">
            <li><a href="#">首页</a></li>
        </ul>
    </div>

    <div class="mainindex">


        <div class="welinfo">
            <span><img src="../static/images/sun.png" alt="天气" /></span>
            <b>Admin早上好，欢迎使用上海轨交视觉监控系统</b>(admin@smartconnect.com)
            <a href="#">帐号设置</a>
        </div>

        <div class="welinfo">
            <span><img src="../static/images/time.png" alt="时间" /></span>
            <i>您上次登录的时间：2013-10-09 15:22</i>
        </div>

        <div class="xline"></div>

        <ul class="iconlist">

            <li><img src="../static/images/i10.png" /><p><a href="#">监控中心</a></p></li>
            <li><img src="../static/images/i07.png" /><p><a href="#">用户管理</a></p></li>
            <li><img src="../static/images/i01.png" /><p><a href="#">设备管理</a></p></li>


        </ul>

    </div>
</div>